/* *{
 background-color:gainsboro

} */
  /* *{
    margin:0;
    padding:0;
 } */
.Name{
    color:cornflowerblue
}
h2{
    color: blueviolet;
}
.Likes{
    background-color:aliceblue
}
.Follow{
    color: brown;
}

/* My flexbox properties */
.container{
    background-color: rgb(245, 248, 248);
    text-align: center;
    border-style: outset;
    border-radius: 20px;
    border-width: 1px;
    margin: 20px 50px ;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

 .img{
  border: 1px solid #ddd;
  border-radius: 300px;
  width: 100px;
  height: 100px;
 }

 /* My flexbox properties */
/* .Container{
    background-color: rgb(223, 235, 235);
} */
.child{
    background-color: antiquewhite;
    border: 2px green solid;
    display: flex;
    /* flex-direction: row;
    gap: 50px; */
    justify-content: space-between;
}
.blue-container{
    border:1px blue solid;
    display: flex;
    /* flex-direction: column; */
    flex-direction: column;
    align-items: center;
}
.flex-item{
     border: 1px orangered solid;
     margin: 5px;
     height: 80px;
     width: 50px;
    
     
}
.mine{
    color: blue;
}
/* img{

    height: 30px;
    width: 30px;
    border-radius: 70%;
} */
.last{
    border: 1px gray solid;
    display: flex;
}
/* Bootstrap work */
.chicken{
     background-color: aqua;
}